#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

  &.endState {
    pointer-events: none;
  }

  #row {
    display: flex;
    flex-direction: row;

    &:nth-child(1),
    &:nth-child(2) {
      border-bottom: 2px solid black;
    }

    #col {
      cursor: pointer;
      background-color: lightgreen;
      margin: 1px;
      &:nth-child(1),
      &:nth-child(2) {
        border-right: 2px solid black;
      }

      &.filled {
        pointer-events: none;
      }

      &.winCell {
        background-color: red;
      }
    }
  }
}
