<div id="gameContainer" [ngClass]="{'endState':gameState==='win'}">
  <div id=row *ngFor="let row of cellNumbersArray">
    <div id="col" *ngFor="let cell of row" (click)="clickCell(cell)" [ngClass]="{'filled':cellSignsArray[cell]!=='', 'winCell':winCells[cell]}">
      <app-cell [cellSign]="cellSignsArray[cell]"></app-cell>
    </div>
  </div>
</div>
<h2>
  <app-message [messageShown]="textShown"></app-message>
</h2>
<div id="buttonArea" *ngIf="gameState!=='play'">
  <div id="chooseGame" *ngIf="answeredEnjoyQuestions">
    <h3>
      If you want to play another game please go back to our menu.
      <app-nav-button [buttonText]="continue" [nextPage]="nextPage" (navButtonActivated)="resetGame()"></app-nav-button>
    </h3>
  </div>
  <div id="survey" *ngIf="!answeredEnjoyQuestions">
    <h3>
      Please help us by answering a little survey and then play even more games
    </h3>
    <app-nav-button [buttonText]="continue" [nextPage]="nextPage" (navButtonActivated)="resetGame()"></app-nav-button>
  </div>
</div>
