<div id="gallows">
  <app-hangman (lossMessage)="enableLossState($event)"></app-hangman>
  <app-secret-word (winMessage)='enableWinState($event)' [events]="eventSubject.asObservable()"></app-secret-word>
  <div id="keyboard">
    <app-keyboard (letterClicked)='letterClicked($event)'></app-keyboard>
  </div>
  <div id="winningMessage" *ngIf="winState">
    <app-message [messageShown]="winString"></app-message>
  </div>
  <div id="loosingMessage" *ngIf="lossState">
    <app-message [messageShown]="lossString"></app-message>
  </div>
  <div id="buttonArea" *ngIf="winState || lossState">
    <div id="chooseGame" *ngIf="answeredEnjoyQuestions">
      <h3>
        If you want to play another game please go back to our menu.
        <app-nav-button [buttonText]="continue" [nextPage]="nextPage" (navButtonActivated)="resetGame()"></app-nav-button>
      </h3>
    </div>
    <div id="survey" *ngIf="!answeredEnjoyQuestions">
      <h3>
        Please help us by answering a little survey and then play even more games
      </h3>
      <app-nav-button [buttonText]="continue" [nextPage]="nextPage" (navButtonActivated)="resetGame()"></app-nav-button>
    </div>
  </div>
</div>
