@import './../../../../global-styles';

input[type='button'] {
  width: 100px;
  height: 40px;
  background-color: green;
  font-weight: bold;
  border: 1px solid green;
  border-radius: 1em;
  outline: none;
  margin: 1%;

  &:hover {
    cursor: pointer;
  }
}
