#surveyContainer {
  text-align: center;

  #enjoySurvey {
    width: 100%;
    table {
      width: 30%;
      margin: 40px auto;
      border-collapse: collapse;

      th {
        padding: 1rem 0;
        font-size: 17px;
      }

      td {
        text-align: center;
        border-bottom: 1px solid #999;
        padding: 0.5rem 0;
      }
    }
  }

  #clickable {
    &.disable {
      pointer-events: none;
      opacity: 0.7;
    }
  }
}
