<div id="surveyContainer">
  <div id="enjoySurvey">
    <h2>
      Please answer the following questions and then choose a game
    </h2>
    <table *ngFor="let question of questions">
      <tr>
        <th colspan="5">{{question}}</th>
      </tr>
      <tr>
        <td *ngFor="let rate of rating">
          {{rate}}
        </td>
      </tr>
      <tr>
        <td *ngFor="let rate of rating">
          <input type="radio" name="{{question}}" (click)="rateGame(question,rate)">
        </td>
      </tr>
    </table>
  </div>
  <div id="clickable" [ngClass]="{'disable': enjoyDay===0 || enjoyGame===0 || suggestGame===0}">
    <app-games-list></app-games-list>
  </div>
</div>
