<div id="hangmanContainer">
  <div id="sideLine" *ngIf="falseLetters.length>0"></div>
  <div id="topHorizontalLine" *ngIf="falseLetters.length>1"></div>
  <div id="topVerticalLine" *ngIf="falseLetters.length>2"></div>
  <div id="head" *ngIf="falseLetters.length>3"></div>
  <div id="body" *ngIf="falseLetters.length>4"></div>
  <div id="leftHand" *ngIf="falseLetters.length>5"></div>
  <div id="rightHand" *ngIf="falseLetters.length>6"></div>
  <div id="leftLeg" *ngIf="falseLetters.length>7"></div>
  <div id="rightLeg" *ngIf="falseLetters.length>8"></div>
</div>
