@import './../../../../../../global-styles';

#hangmanContainer {
  width: 150px;
  height: 250px;
  margin: 10px 0;

  #sideLine {
    width: 150px;
    height: 250px;
    border-left: 1px solid black;
    position: absolute;
  }

  #topHorizontalLine {
    width: 150px;
    height: 250px;
    border-top: 1px solid black;
    position: absolute;
  }

  #topVerticalLine {
    width: 150px;
    height: 50px;
    border-right: 1px solid black;
    position: absolute;
  }

  #head {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    margin: 50px 0 0 135px;
  }

  #body {
    width: 30px;
    height: 65px;
    border-left: 1px solid black;
    position: absolute;
    margin: 81px 0 0 150px;
  }

  #leftHand {
    width: 30px;
    height: 50px;
    border-left: 1px solid black;
    position: absolute;
    margin: 92px 0 0 128px;
    -webkit-transform: rotate(45deg); /* Safari 3-8 */
    -ms-transform: rotate(45deg); /* IE 9 */
    transform: rotate(45deg);
  }

  #rightHand {
    width: 30px;
    height: 50px;
    border-left: 1px solid black;
    position: absolute;
    margin: 70.5px 0 0 163px;
    -webkit-transform: rotate(-45deg); /* Safari 3-8 */
    -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
  }

  #leftLeg {
    width: 30px;
    height: 50px;
    border-left: 1px solid black;
    position: absolute;
    margin: 149px 0 0 128px;
    -webkit-transform: rotate(45deg); /* Safari 3-8 */
    -ms-transform: rotate(45deg); /* IE 9 */
    transform: rotate(45deg);
  }

  #rightLeg {
    width: 30px;
    height: 50px;
    border-left: 1px solid black;
    position: absolute;
    margin: 127.5px 0 0 163px;
    -webkit-transform: rotate(-45deg); /* Safari 3-8 */
    -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
  }
}
