<div id="introduction">
  <h3>
    Enjoy Games
  </h3>
  <div id="overview">
    Play games online with the use of Angular and Redux
  </div>
  <div id="description">
    There are implemented many different games and we work to create even more in the near future. Please check our
    games and click the button to go in each page and play!
  </div>
  <app-games-list></app-games-list>
</div>
