<!--<app-component-generator [gamePlayed]="gamePlayed"></app-component-generator>-->

<div id="gameFramework" *ngIf="gamePlayed === 'gallows'">
  <app-gallows></app-gallows>
</div>
<div id="gameFramework" *ngIf="gamePlayed === 'tic-tac-toe'">
  <app-tic-tac-toe></app-tic-tac-toe>
</div>
