@import './../../../../../../global-styles';

#keyboardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  &.stopGame {
    pointer-events: none;
  }

  #letter {
    width: 50px;
    height: 20px;
    margin: 10px 5px;
    background-color: lightgreen;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.disableLetter {
      background-color: red;
      pointer-events: none;
    }
  }
}
