<div id="keyboardContainer" [ngClass]="{'stopGame':endGame$|async}">
  <div id="letter" *ngFor="let letter of lettersKeyboard; index as i" (click)="checkLetter(letter, i)" [ngClass]="{'disableLetter': lettersChecked[i]}">
    {{letter}}
  </div>
</div>
